@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

* {
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #1F1F1E;
    color: white;
}

h1 {
    text-align:center;
}

/* small animation for the heading of the quiz */

.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  }

.pulsate {
    animation: pulsate 0.5s infinite alternate;     
}

@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #0fa,
      0 0 45px #0fa,
      0 0 55px #0fa,
      0 0 70px #0fa,
      0 0 80px #0fa;
  
  }
}

/* section for entering your name to save your score */

input {
    margin: 5px;
    text-align: center;
    font-size: 20px;
    height: 3rem;
}

label {
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c';
    font-weight: bolder;
}

/* the main container that holds most of the content */
.container {
    width: 800px;
    max-width: 80%;
    background-color: #3a3a3a;
    border-radius: 14px;
    padding: 10px;
    box-shadow: 0 0 12px 3px;
    margin: 15px;
}

/* section for intro text and instructions */
#intro {
    padding: 0 50px;
}

/* section for the end of the game, and the relevant text */
#end-of-game {
    text-align: center;
}

/* style for buttons using grid for alignment */
.btn-grid {
    display: grid;
    grid-template-columns: inherit;
    gap: 5px;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
    
}

/* style for general buttons in the game */
.btn {
    background-color: #195821;
    border: 6px double whitesmoke;
    border-radius: 20px;
    padding: 5px 10px;
    color: whitesmoke;
    width: 25rem;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

/* style for when you hover over any button */
.btn:hover {
    cursor: pointer;
    box-shadow: 5px 10px 18px #787878;
    transition: transform 100ms;
    transform: scale(1.05);
}

/* style for any button that is disabled */
.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* specific styles for certain buttons */
#highscore-btn {
    background-color: #A3A347;
    font-size: 3rem;
    padding: 10px 20px;
}

#startgame-btn {
    background-color: #3193d4;
    font-size: 3rem;
    padding: 10px 20px;
}

/* style for a button if the answer is correct */
.btn.correct {
    background-color: rgb(139, 223, 56);
    color: black;
}

/* style for a button if the answer is wrong */
.btn.wrong {
    background-color: red;
}

/* style for all questions */
#question {
    font-size: 24px;
    padding: 5px;
    margin: 2px;
    text-align: center;
}

/* styles for the controls section, adding flex and alignment */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none
}

#timer {
    text-align: center;
}

#time-remaining {
    color: dodgerblue;
    font-size: 40px;
    font-weight: bolder;
}

/* High scores content */

.highscores-content {
    justify-content: center;
    align-items: center;
}

#highscores-table {
    width: 100%;
}

table {
    border-spacing: 0 0.5em;
}
  
  td, th {
    padding: 10px;
  }
  
  th {
    border-bottom: 1px solid whitesmoke;
    font-weight: bolder;
  }
  
  td {
    text-align: center;
  }
  
  th:first-child,
  td:first-child {
    text-align: left;
  }
  
  th:last-child,
  td:last-child  {
    text-align: right;
  }